Source: libsys-virt-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7),
  libvirt-dev (>= 0.9.9),
  libtest-pod-coverage-perl,
  libxml-xpath-perl,
  libtest-pod-perl,
  perl,
  pkg-config
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Salvatore Bonaccorso <carnil@debian.org>
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/Sys-Virt/
Vcs-Git: git://git.debian.org/pkg-perl/packages/libsys-virt-perl.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-perl/packages/libsys-virt-perl.git

Package: libsys-virt-perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Perl module providing an extension for the libvirt library
 The Sys::Virt module provides a Perl XS binding to the libvirt virtual
 machine management APIs. This allows machines running within arbitrary
 virtualization containers to be managed with a consistent API.
 .
 For further details on libvirt consult its website http://libvirt.org/
